@import "../../variables";

.switch {
  input {
    display: none;
    &:checked + .slider:before {
      transform: translateX(26px);
    }
  }
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;

}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-background;
  -webkit-transition: .4s;
  transition: .4s;

  &.round {
    border-radius: 34px;
    &::before {
      border-radius: 50%;
    }
  }

  &::before {
    position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #bf403b;
  transition: .4s;
  }
}

@media only screen and (min-width: $desktop-width) {
  .slider {
    &::before {
      width: 26px;
      height: 26px;
    }
  }
  .switch {
    width: 60px;
    height: 34px;
  }
}

