@import "../../variables";

.Hour {
  display: flex;
  justify-content: center;
  &__span {
    color: black;
    cursor: pointer;
    font-weight: bold;
    margin: auto 0;
    padding: 10px;
    border-radius: 500px;
    &--selected{
      color: white;
      background-color: $primary-green;
    }
  }
  &__img {
    width: 10%;
  }
}